.wrapper{
    margin: 50px auto;
    width: 40%;
    background: #f9f9f9;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.3);
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    position: relative;
}

input[type="button"]{
    margin: 10px;
}